# Tizim fayllari
desktop.ini
*.lnk
*.dat
*.log
*.regtrans-ms
*.blf
ntuser.*

# Shaxsiy papkalar
AppData/
Documents/
Downloads/
Pictures/
Videos/
Music/
OneDrive/
Contacts/
Favorites/
Links/
Saved Games/
Searches/
WPS Cloud Files/

# Dasturiy fayllar
node_modules/
.vscode/
.docker/
.cristalix/
.gologin/
.pm2/
.ssh/
.swt/

# Vaqtinchalik fayllar
*.tmp
*.bak
*.zip
*.mkv
*.mp4
*.jpg
*.docx
*.pdf

# Boshqa loyihalar
AnimalCrudPsql/
MovieRentalPlatform/
TourProject/
cloneLinkedLn/